<template>
  <div id="modalProjectEdit" class="modal card" ref="modalEdit">
    <loader v-show="loading"></loader>
    <div class="card-content">
      <form @submit.prevent="submitProfileEdit">
        <div class="modal-content">
          <h5 class="card-title">Редактирование профиля {{ name }}</h5>

          <div class="input-field">
            <input
              type="text"
              id="nameProfile"
              v-model.trim="profileName"
              :class="{'invalid': !$v.profileName.required && $v.profileName.$dirty}"
            >
            <label for="nameProfile">Имя профиля</label>
            <span
              class="helper-text"
              v-if="!$v.profileName.required && $v.profileName.$dirty"
            >Введите имя профиля</span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn orange accent-2 waves-effect">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'

export default {
  props: {
    modal: Object,
    name: {
      type: String,
      default: ''
    }
  },
  validations: {
    profileName: { required }
  },
  data: () => ({
    loading: false,
    profileName: ''
  }),
  watch: {
    name (val) {
      this.profileName = val
    }
  },
  methods: {
    async submitProfileEdit () {
      if (this.$v.$invalid) {
        this.$v.$touch()
      } else {
        try {
          this.loading = true
          await this.editProfile({
            id: this.id,
            name: this.profileName
          })
          this.loading = false
          this.modal.close()
        } catch (e) {}
      }
    },
    ...mapActions(['editProfile'])
  }
}
</script>

<style scoped>

</style>
