<template>
  <div id="modalProjectEdit" class="modal card" ref="modalEdit">
    <loader v-show="loading"></loader>
    <div class="card-content">
      <form @submit.prevent="submitProjectEdit">
        <div class="modal-content">
          <h5 class="card-title">Редактирование проекта {{ name }}</h5>

          <div class="input-field">
            <input id="nameProject"
                   type="text"
                   v-model.trim="projectName"
                   :class="{'invalid': !$v.projectName.required && $v.projectName.$dirty}"
            >
            <label for="nameProject">Название проекта</label>
            <span class="helper-text"
                  v-if="!$v.projectName.required && $v.projectName.$dirty"
            >Введите название проекта</span>
          </div>

          <div class="input-field">
            <input id="rateProject"
                   type="number"
                   v-model.trim="projectRate"
                   :class="{'invalid': !$v.projectRate.required && $v.projectRate.$dirty}"
            >
            <label for="rateProject">Часовая ставка</label>
            <span class="helper-text"
                  v-if="!$v.projectRate.required && $v.projectRate.$dirty"
            >Введите часовую ставку</span>
          </div>

          <div class="input-field">
            <input id="hoursPerDay"
                   type="number"
                   v-model.trim="hoursPerDay"
                   :class="{'invalid': !$v.hoursPerDay.required && $v.hoursPerDay.$dirty}"
            >
            <label for="hoursPerDay">Часовая ставка</label>
            <span class="helper-text"
                  v-if="!$v.hoursPerDay.required && $v.hoursPerDay.$dirty"
            >Введите часовую ставку</span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn orange accent-2 waves-effect">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'

export default {
  props: {
    modal: Object,
    id: Number,
    name: {
      type: String,
      default: ''
    },
    rate: {
      type: Number,
      default: 0
    },
    hours: {
      type: String,
      default: ''
    }
  },
  validations: {
    projectName: { required },
    projectRate: { required },
    hoursPerDay: { required }
  },
  data: () => ({
    loading: false,
    projectName: '',
    projectRate: 0,
    hoursPerDay: ''
  }),
  watch: {
    name (val) {
      this.projectName = val
    },
    rate (val) {
      this.projectRate = val
    },
    hours (val) {
      this.hoursPerDay = val
    }
  },
  mounted () {
    // eslint-disable-next-line no-undef
    M.updateTextFields()
  },
  methods: {
    async submitProjectEdit () {
      if (this.$v.$invalid) {
        this.$v.$touch()
      }
      try {
        this.loading = true
        await this.editProject({
          id: this.id,
          name: this.projectName,
          rate: +this.projectRate,
          hoursPerDay: this.hoursPerDay
        })
        this.nameProject = ''
        this.loading = false
        this.modal.close()
      } catch (e) {}
    },
    ...mapActions(['editProject'])
  }
}
</script>

<style scoped>

</style>
