<template>
  <div class="row">
    <loader v-show="loading"></loader>
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content">
          <h1 class="card-title">Создание нового проекта</h1>
          <form @submit.prevent="submitCreateProject">
            <div class="input-field">
              <input id="nameProject"
                     type="text"
                     autocomplete="off"
                     v-model.trim="nameProject"
                     :class="{'invalid': !$v.nameProject.required && $v.nameProject.$dirty}"
              >
              <label for="nameProject">Название проекта</label>
              <span class="helper-text"
                    v-if="!$v.nameProject.required && $v.nameProject.$dirty"
              >Введите название проекта</span>
            </div>

            <div class="input-field">
              <input id="rateProject"
                     type="number"
                     autocomplete="off"
                     v-model.trim="rateProject"
                     :class="{'invalid': !$v.rateProject.required && $v.rateProject.$dirty}"
              >
              <label for="rateProject">Часовая ставка</label>
              <span class="helper-text"
                    v-if="!$v.rateProject.required && $v.rateProject.$dirty"
              >Введите вашу часовую ставку</span>
            </div>

            <div class="input-field">
              <input id="hoursPerDay"
                     type="number"
                     autocomplete="off"
                     v-model.trim="hoursPerDay"
                     :class="{'invalid': !$v.hoursPerDay.required && $v.hoursPerDay.$dirty}"
              >
              <label for="hoursPerDay">Часовая норма в день</label>
              <span class="helper-text"
                    v-if="!$v.hoursPerDay.required && $v.hoursPerDay.$dirty"
              >Введите количество часов</span>
            </div>

            <button type="submit" class="btn orange accent-2">Создать</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
import dateFilter from '../../filters/date.filter'

export default {
  name: 'CreateProject',
  data () {
    return {
      loading: false,
      nameProject: '',
      rateProject: null,
      hoursPerDay: null
    }
  },
  validations: {
    nameProject: { required },
    rateProject: { required },
    hoursPerDay: { required }
  },
  methods: {
    ...mapActions(['createProject']),
    async submitCreateProject () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      try {
        this.loading = true
        await this.createProject({
          id: +new Date(),
          name: this.nameProject,
          rate: +this.rateProject,
          hoursPerDay: this.hoursPerDay,
          dayCreate: dateFilter(new Date(), 'day'),
          monthCreate: dateFilter(new Date(), 'month')
        })
        this.nameProject = ''
        this.$router.push('/')
      } catch (e) {}
    }
  }
}
</script>
