<template>
  <div class="row">
    <loader v-if="loading"></loader>
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey darken-1">

        <div class="card-content white-text">
          <span class="card-title" v-text="projects.name"></span>
          <p>Ставка - {{ projects.rate }}р/ч</p>
          <p>Норма часов в день - {{ projects.hoursPerDay }}ч</p>
          <div v-if="endDate && !isWorking">
            <p>Вы начали работу в {{ startDate | dateFormat('HHMM') }}</p>
            <p>Вы закончили работу в {{ endDate | dateFormat('HHMM') }}</p>
            <p>
              Итог за текущий день:
              <span :class="{'red-text': timeData.status === 'bad', 'yellow-text': timeData.status === 'average', 'green-text': timeData.status === 'enough'}">
                {{ timeData.hours }}ч {{ timeData.minutes }}м = {{ timeData.earnings }}р
              </span>
            </p>
            <button class="btn green mt-1" @click.prevent="sendTimeToTable">Сохранить</button>
          </div>
        </div>

        <div class="card-action">
          <a v-if="!isWorking" href="#" @click.prevent="startWork">Начать работу</a>
          <a v-else href="#" @click.prevent="endWork">Завершить работу</a>
          <a href="#">Добавить часы</a>
          <router-link :to="{name: 'Table'}">Открыть таблицу</router-link>
        </div>

      </div>
    </div>

    <timer v-if="isWorking"
           :startTime="startDate"
           :rate="projects.rate"
           :minTime="projects.hoursPerDay"
           @update-time-data="timeData = $event"
    ></timer>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import timer from './Timer'
import dateFilter from '../../filters/date.filter'

export default {
  components: { timer },
  data: () => ({
    loading: false,
    startDate: '',
    isWorking: false,
    endDate: '',
    timeData: {}
  }),
  async mounted () {
    this.loading = true
    await this.getProjectById(this.project)
    this.loading = false
  },
  computed: {
    ...mapGetters(['projects']),
    project () {
      return this.$route.params.id
    },
    checkNumberMonth () {
      const diffMonth = dateFilter(this.startDate, 'month') - this.projects.monthCreate
      const diffDay = dateFilter(this.startDate, 'day') - this.projects.dayCreate
      let numMonth = 0

      for (let i = 0; i < 12; i++) {
        if ((diffMonth === i && diffDay === 0) || (diffMonth === (i + 1) && diffDay < 0)) {
          numMonth = (i + 1)
          break
        }
      }
      return numMonth
    },
    checkNumberWeek () {
      const numWeek = 1
      const dayStart = dateFilter(this.startDate, 'day')
      const dayCreate = this.projects.dayCreate
      const monthStart = dateFilter(this.startDate, 'month') - 1
      const monthCreate = this.projects.monthCreate - 1
      const diffMonth = monthStart - monthCreate
      const diffDay = dayCreate - dayStart
      const daysInMonthCreate = this.daysInMonth(monthCreate)
      const daysBeforeEndMonthCreate = daysInMonthCreate - dayCreate

      if (diffMonth === 0 && diffDay === 0) {
        return 1
      }
      if (diffMonth === 1) {
        const totalDays = daysBeforeEndMonthCreate + dayStart
        const totalWeeks = Math.floor(totalDays / 7)
        return totalWeeks + 1
      }
      for (let w = 2; w < 52; w++) {
        if (diffMonth === w) {
          let daysBetween = 0
          for (let i = 1; i < w; i++) {
            daysBetween += this.daysInMonth(monthCreate + (i - 1))
          }
          const totalDays = daysBeforeEndMonthCreate + dayStart + daysBetween
          const totalWeeks = Math.floor(totalDays / 7)
          return totalWeeks + 1
        }
      }
      return numWeek
    },
    checkNumberDay () {
      const numDays = 1
      const dayStart = dateFilter(this.startDate, 'day')
      const dayCreate = this.projects.dayCreate
      const monthStart = dateFilter(this.startDate, 'month') - 1
      const monthCreate = this.projects.monthCreate - 1
      const diffMonth = monthStart - monthCreate
      const diffDay = dayCreate - dayStart
      const daysInMonthCreate = this.daysInMonth(monthCreate)
      const daysBeforeEndMonthCreate = daysInMonthCreate - dayCreate

      if (diffMonth === 0 && diffDay === 0) {
        return 1
      } else if (diffMonth === 0 && diffDay > 0) {
        return diffDay + 1
      } else if (diffMonth > 0) {
        if (diffMonth === 1) {
          return daysBeforeEndMonthCreate + dayStart
        } else if (diffMonth > 1) {
          let daysBetween = 0
          for (let i = 2; i <= diffMonth; i++) {
            daysBetween += this.daysInMonth(monthCreate + (i - 1))
          }
          return daysBeforeEndMonthCreate + dayStart + daysBetween
        }
      }

      return numDays
    }
  },
  methods: {
    ...mapActions(['getProjectById', 'newRecord']),
    startWork () {
      this.isWorking = true
      this.startDate = new Date()
    },
    endWork () {
      this.isWorking = false
      this.endDate = new Date()
    },
    async sendTimeToTable () {
      this.loading = true
      const recordId = +new Date()
      const projectId = await this.projects.id
      const nums = {
        month: this.checkNumberMonth,
        week: this.checkNumberWeek,
        day: this.checkNumberDay
      }
      const time = {
        yearStart: dateFilter(this.startDate, 'year'),
        monthStart: dateFilter(this.startDate, 'month'),
        dayStart: dateFilter(this.startDate, 'day'),
        hourStart: this.formatTime(dateFilter(this.startDate, 'hour')),
        minuteStart: this.formatTime(dateFilter(this.startDate, 'minute')),
        yearEnd: dateFilter(this.endDate, 'year'),
        monthEnd: dateFilter(this.endDate, 'month'),
        dayEnd: dateFilter(this.endDate, 'day'),
        hourEnd: this.formatTime(dateFilter(this.endDate, 'hour')),
        minuteEnd: this.formatTime(dateFilter(this.endDate, 'minute')),
        hourInWork: this.timeData.hours,
        minuteInWork: this.timeData.minutes,
        earningsInWork: this.timeData.earnings
      }
      await this.newRecord({ time, projectId, recordId, nums })
      this.endDate = ''
      this.isWorking = false
      this.loading = false
      this.$router.push(`/project/${projectId}/table?month=${nums.month}&week=${nums.week}&day=${nums.day}`)
    },
    daysInMonth (month) {
      // eslint-disable-next-line no-extend-native
      Date.prototype.daysInMonth = function () {
        return 33 - new Date(this.getFullYear(), month, 33).getDate()
      }
      return new Date().daysInMonth()
    },
    formatTime (val) {
      if (val < 10) {
        return '0' + val
      }
    }
  }
}
</script>
