<template>
  <div class="row">
    <loader v-show="loading"></loader>
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <div v-if="isTimePerDay">
            <h3 class="card-title center">23 сентября 2020</h3>
            <table class="highlight mb-1">
              <thead>
              <tr>
                <th>Начало работы</th>
                <th>Конец работы</th>
                <th>Время</th>
                <th>Сумма</th>
              </tr>
              </thead>

              <tbody>
              <tr v-for="(t, index) in timeDataset" :key="index">
                <td>{{ t.hourStart }}:{{ t.minuteStart }}</td>
                <td>{{ t.hourEnd }}:{{ t.minuteEnd }}</td>
                <td>{{ t.hourInWork }}ч {{ t.minuteInWork }}м</td>
                <td>{{ t.earningsInWork }}р</td>
              </tr>
              </tbody>
            </table>
            <p class="center">Итог за день: 5ч 23м = 13000р</p>
          </div>

          <div v-else-if="isTimePerWeek">
            <h3 class="card-title center">Неделя 1</h3>
            <table class="highlight">
              <thead>
              <tr>
                <th>Дата</th>
                <th>День недели</th>
                <th>Часы</th>
                <th>Сумма</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>23.07.2020</td>
                <td>ПН</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>23.07.2020</td>
                <td>ВТ</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>23.07.2020</td>
                <td>СР</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>23.07.2020</td>
                <td>ЧТ</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>23.07.2020</td>
                <td>ПТ</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              </tbody>
            </table>
            <p class="center">Итог за неделю: 5ч23м - 13000р</p>
          </div>

          <div v-else-if="isTimePerMonth">
            <h3 class="card-title center">Месяц 1</h3>
            <table class="highlight">
              <thead>
              <tr>
                <th>Неделя</th>
                <th>Период</th>
                <th>Часы</th>
                <th>Сумма</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>1</td>
                <td>23.07.2020-30.07.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>2</td>
                <td>23.07.2020-30.07.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>3</td>
                <td>23.07.2020-30.07.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>4</td>
                <td>23.07.2020-30.07.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>5</td>
                <td>23.07.2020-30.07.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              </tbody>
            </table>
            <p class="center">Итог за месяц: 5ч23м - 13000р</p>
          </div>

          <div v-else-if="isTimePerProject">
            <h3 class="card-title center">Проект</h3>
            <table class="highlight">
              <thead>
              <tr>
                <th>Месяц</th>
                <th>Период</th>
                <th>Часы</th>
                <th>Сумма</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>1</td>
                <td>23.07.2020-23.08.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>2</td>
                <td>23.07.2020-23.08.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>3</td>
                <td>23.07.2020-23.08.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>4</td>
                <td>23.07.2020-23.08.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              <tr>
                <td>5</td>
                <td>23.07.2020-23.08.2020</td>
                <td>3ч30м</td>
                <td>210р</td>
              </tr>
              </tbody>
            </table>
            <p class="center">Итог за проект: 5ч23м - 13000р</p>
          </div>
        </div>
        <div class="card-action">
          <a href="#" @click.prevent="showTableDay">Отчет за сегодня</a>
          <a href="#" @click.prevent="showTableWeek">Недельный отчет</a>
          <a href="#" @click.prevent="showTableMonth">Месячный отчет</a>
          <a href="#" @click.prevent="showTableProject">Отчет за весь проект</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data: () => ({
    loading: false,
    isTimePerDay: true,
    isTimePerWeek: false,
    isTimePerMonth: false,
    isTimePerProject: false,
    dateTitle: {}
  }),
  async mounted () {
    this.loading = true
    const projectId = this.projectId
    const nums = {
      month: this.$route.query.month,
      week: this.$route.query.week,
      day: this.$route.query.day
    }
    await this.getDayTimeData({ projectId, nums })
    this.loading = false
  },
  computed: {
    ...mapGetters(['timeDataset']),
    projectId () {
      return this.$route.params.id
    }
  },
  methods: {
    ...mapActions(['getDayTimeData']),
    showTableDay () {
      this.isTimePerDay = true
      this.isTimePerWeek = false
      this.isTimePerMonth = false
      this.isTimePerProject = false
    },
    showTableWeek () {
      this.isTimePerDay = false
      this.isTimePerWeek = true
      this.isTimePerMonth = false
      this.isTimePerProject = false
    },
    showTableMonth () {
      this.isTimePerDay = false
      this.isTimePerWeek = false
      this.isTimePerMonth = true
      this.isTimePerProject = false
    },
    showTableProject () {
      this.isTimePerDay = false
      this.isTimePerWeek = false
      this.isTimePerMonth = false
      this.isTimePerProject = true
    }
  }
}
</script>

<style scoped>

</style>
