<template>
  <div class="col s12 m6 offset-m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p>Начало работы в {{ startTime | dateFormat('HHMM') }}</p>
        <span class="card-title">{{ hours }}:{{ minutes }}:{{ seconds }}</span>
        <p>
          Вы уже заработали
          <span :class="{'red-text': isBadTime, 'yellow-text': isAverageTime, 'green-text': isEnoughTime}">
            {{ earnings }}р
          </span>
        </p>
      </div>
      <div class="card-action">
        <a v-if="!isPaused" href="#" @click="pauseTime">Пауза</a>
        <a v-else href="#" @click.prevent="continueTime">Продолжить</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['startTime', 'rate', 'minTime'],
  data: () => ({
    isPaused: false,
    secondsTimer: null,
    seconds: '00',
    minutes: '00',
    hours: '00',
    earnings: 0,
    statusTime: null
  }),
  mounted () {
    this.initTimer()
  },
  beforeDestroy () {
    clearInterval(this.secondsTimer)
    this.getTimeData()
  },
  watch: {
    seconds (val) {
      if (val >= 60) {
        this.seconds = '00'
        this.minutes = +this.minutes + 1
      }
    },
    minutes (val) {
      this.minutes = this.convertNumber(val)
      if (val >= 60) {
        this.minutes = '00'
        this.hours = +this.hours + 1
      }
      this.earnings = Math.floor(this.hours * this.rate + this.minutes * this.rate / 60)
      this.statusTime = this.isEnoughTime ? 'enough' : this.isAverageTime ? 'average' : 'bad'
    },
    hours (val) {
      this.hours = this.convertNumber(val)
    }
  },
  computed: {
    isBadTime () {
      if (+this.minTime === 1) {
        return this.hours < 30
      }
      return this.hours < (+this.minTime / 2)
    },
    isAverageTime () {
      if (+this.minTime === 1) {
        return this.minutes >= 30 && this.hours < +this.minTime
      }
      return this.hours >= (+this.minTime / 2) && this.hours < +this.minTime
    },
    isEnoughTime () {
      return this.hours >= +this.minTime
    }
  },
  methods: {
    initTimer () {
      this.secondsTimer = setInterval(() => {
        this.seconds = +this.seconds + 1
        this.seconds = this.convertNumber(this.seconds)
      }, 1000)
    },
    convertNumber (num) {
      const value = +num
      return value < 10 ? '0' + value : num
    },
    pauseTime () {
      this.isPaused = true
      clearInterval(this.secondsTimer)
    },
    continueTime () {
      this.isPaused = false
      this.initTimer()
    },
    getTimeData () {
      const timeData = {
        hours: +this.hours,
        minutes: +this.minutes,
        earnings: this.earnings,
        status: this.statusTime
      }
      this.$emit('update-time-data', timeData)
    }
  }
}
</script>
