<template>
  <div>
    <loader v-show="loading"></loader>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content">
            <h1 class="card-title">Мои проекты</h1>
            <p v-if="!projects">Проекты отсутствуют. Вы можете <router-link :to="{ name: 'CreateProject' }">создать новый</router-link></p>
          </div>
          <ul v-if="projects" class="collection with-header">
            <li class="collection-item"
                v-for="project in projects"
                :key="project.id"
            >
              <div>
                <router-link :to="{name: 'Project', params: {'id': project.id}}">
                  {{ project.name }}
                  <span class="new badge rate">{{ project.rate }}</span>
                </router-link>

                <span class="secondary-content">
                  <a class="mx-1" href="#" @click.prevent="editProject(project)"><i class="material-icons">edit</i></a>
                  <a class="mx-1" href="#" @click.prevent="removeProject(project)"><i class="material-icons red-text">delete</i></a>
                </span>
              </div>
            </li>
          </ul>
          <div class="fixed-action-btn" ref="actionBtn">
            <router-link tag="a" to="/create-project" class="btn-floating btn-large red">
              <i class="large material-icons">add</i>
            </router-link>
<!--            <ul>-->
<!--              <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>-->
<!--              <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>-->
<!--              <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>-->
<!--              <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>-->
<!--            </ul>-->
          </div>
        </div>
      </div>
    </div>
    <modal-project-edit
      ref="modalProjectEdit"
      :name="projectName"
      :id="projectId"
      :rate="projectRate"
      :hours="hoursPerDay"
      :modal="modalEdit"
    ></modal-project-edit>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ModalProjectEdit from '@/components/modals/ModalProjectEdit'

export default {
  name: 'Profile',
  components: { ModalProjectEdit },
  data () {
    return {
      loading: false,
      projectId: null,
      projectName: '',
      projectRate: 0,
      hoursPerDay: '',
      modalEdit: {}
    }
  },
  async mounted () {
    // eslint-disable-next-line no-undef
    M.FloatingActionButton.init(this.$refs.actionBtn, {
      direction: 'top'
    })
    // eslint-disable-next-line no-undef
    M.Dropdown.init(this.$refs.dropMenuProject, {})
    // eslint-disable-next-line no-undef
    this.modalEdit = M.Modal.init(this.$refs.modalProjectEdit.$el, {})
    this.loading = true
    await this.getProjects()
    this.loading = false
  },
  computed: {
    ...mapGetters(['projects'])
  },
  methods: {
    ...mapActions(['getProjects', 'deleteProject']),
    editProject (project) {
      this.projectId = project.id
      this.projectName = project.name
      this.projectRate = project.rate
      this.hoursPerDay = project.hoursPerDay
      this.modalEdit.open()
      setTimeout(() => {
        // eslint-disable-next-line no-undef
        M.updateTextFields()
      }, 0)
    },
    async removeProject (project) {
      this.loading = true
      await this.deleteProject(project)
      this.loading = false
    }
  }
}
</script>

<style scoped>
</style>
