.auth-wrapper{
    background-color: #eceff1;
    width: 100%;
    max-width: 500px;
    padding: 50px;
}
h1{
    margin: 0 0 30px;
    font-size: 32px;
}
.input-field .helper-text{
    color: #ef5350;
}

span.badge.new.rate:after {
    content: " р/ч";
}

.mx-1{
    margin: 0 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}
