<template>
  <div id="app">
    <component :is="layout">
      <router-view></router-view>
    </component>
  </div>
</template>

<script>
import Auth from './layouts/Auth'
import Main from './layouts/Main'

export default {
  components: { Auth, Main },
  computed: {
    layout () {
      return this.$route.meta.layout
    }
  }
}
</script>

<style>
  @import "~materialize-css/dist/css/materialize.min.css";
  @import 'assets/main.css';
</style>
