<template>
  <div class="auth-layout">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Auth'
}
</script>

<style scoped>
.auth-layout{
  background-color: #263238;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
