<template>
  <div>
    <ul id="dropdown1" class="dropdown-content" ref="dropContent">
      <li><a @click.prevent="editUserName(getProfileName)">Редактировать</a></li>
      <li class="divider"></li>
      <li><a @click.prevent="logoutUser">Выйти</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <router-link tag="a" to="/" class="brand-logo">Time Watch Application</router-link>
        <div class="time">{{ date | dateFormat('datetime') }}</div>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-trigger" href="#" data-target="dropdown1" ref="dropHeader">
              {{ getProfileName }}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <router-view></router-view>
    <modal-profile-edit
      ref="modalProfileEdit"
      :name="getProfileName"
      :modal="modalProfileEdit"
    ></modal-profile-edit>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ModalProfileEdit from '../components/modals/ModalProfileEdit'

export default {
  name: 'Main',
  components: { ModalProfileEdit },
  data: () => ({
    date: new Date(),
    interval: null,
    dropdown: null,
    modalProfileEdit: {}
  }),
  beforeDestroy () {
    clearInterval(this.interval)
    if (this.dropdown && this.dropdown.destroy) {
      this.dropdown.destroy()
    }
  },
  async mounted () {
    // eslint-disable-next-line no-undef
    this.dropdown = M.Dropdown.init(this.$refs.dropHeader, {
      hover: true,
      coverTrigger: false,
      constrainWidth: false
    })
    this.interval = setInterval(() => {
      this.date = new Date()
    }, 1000)
    this.getUserName()
    // eslint-disable-next-line no-undef
    this.modalProfileEdit = M.Modal.init(this.$refs.modalProfileEdit.$el, {})
  },
  computed: {
    ...mapGetters(['userName']),
    getProfileName () {
      return this.userName
    }
  },
  methods: {
    editUserName () {
      this.modalProfileEdit.open()
      setTimeout(() => {
        // eslint-disable-next-line no-undef
        M.updateTextFields()
      }, 0)
    },
    async logoutUser () {
      await this.logout()
      this.$router.push('/login')
    },
    ...mapActions(['logout', 'getUserName'])
  }
}
</script>

<style scoped>
  .nav-wrapper{
    background-color: #2196f3;
    padding: 0 1rem;
  }
  .time{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
  .dropdown-trigger{
    outline: none;
  }
</style>
