<template>
  <div class="auth-wrapper">
    <h1>Войти</h1>
    <form action="" @submit.prevent="submitLogin">
      <div class="input-field">
        <input id="email"
               type="email"
               v-model.trim="email"
               :class="{'invalid': (!$v.email.required && $v.email.$dirty) || !$v.email.email}"/>
        <label for="email">Email</label>
        <span class="helper-text" v-if="!$v.email.required && $v.email.$dirty">Введите email</span>
        <span class="helper-text" v-else-if="!$v.email.email">Введите корректный email</span>
      </div>
      <div class="input-field">
        <input id="password"
               type="password"
               v-model.trim="password"
               :class="{'invalid': (!$v.password.required && $v.password.$dirty) || !$v.password.minLength}">
        <label for="password">Password</label>
        <span class="helper-text" v-if="!$v.password.required && $v.password.$dirty">Введите пароль</span>
        <span class="helper-text" v-else-if="!$v.password.minLength">Недостаточно символов. Введите еще {{ $v.password.$params.minLength.min - password.length }}</span>
      </div>
      <button class="btn" type="submit">Войти</button>
    </form>
    <router-link to="/register" tag="a">Зарегистрироваться</router-link>
  </div>
</template>

<script>
import { email, required, minLength } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },
  methods: {
    async submitLogin () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const loginData = {
        email: this.email,
        password: this.password
      }
      try {
        await this.getLogin(loginData)
        this.$router.push('/profile')
      } catch (e) {}
    },
    ...mapActions(['getLogin'])
  }
}
</script>

<style scoped>
  form{
    margin-bottom: 20px;
  }
</style>
