<template>
  <div class="auth-wrapper">
    <h1>Регистрация</h1>
    <form action="" @submit.prevent="submitRegister">
      <div class="input-field">
        <input id="name"
               type="text"
               v-model="name"
               :class="{'invalid': !$v.name.required && $v.name.$dirty}"
        >
        <label for="name">Введите имя</label>
        <span class="helper-text" v-if="!$v.name.required && $v.name.$dirty">Введите имя</span>
      </div>
      <div class="input-field">
        <input id="email"
               type="email"
               v-model.trim="email"
               :class="{'invalid': (!$v.email.required && $v.email.$dirty) || !$v.email.email}"
        />
        <label for="email">Email</label>
        <span class="helper-text" v-if="!$v.email.required && $v.email.$dirty">Введите email</span>
        <span class="helper-text" v-else-if="!$v.email.email">Введите корректный email</span>
      </div>
      <div class="input-field">
        <input id="password"
               type="password"
               v-model.trim="password"
               :class="{'invalid': (!$v.password.required && $v.password.$dirty) || !$v.password.minLength}"
        >
        <label for="password">Password</label>
        <span class="helper-text" v-if="!$v.password.required && $v.password.$dirty">Введите пароль</span>
        <span class="helper-text" v-else-if="!$v.password.minLength">Недостаточно символов. Введите еще {{ $v.password.$params.minLength.min - password.length }}</span>
      </div>
      <button class="btn" type="submit">Зарегистрироваться</button>
    </form>
    <router-link tag="a" to="/login">Войти</router-link>
  </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
import dateFilter from '../../filters/date.filter'
// import dateFilter from '../../filters/date.filter'
export default {
  name: 'Register',
  data () {
    return {
      name: '',
      email: '',
      password: '',
      id: ''
    }
  },
  validations: {
    name: { required },
    email: { required, email },
    password: { required, minLength: minLength(6) }
  },
  mounted () {
    this.id = this.getDateTime()
  },
  methods: {
    getDateTime () {
      const currentDate = new Date()
      const dateValue = ['year', 'month', 'day', 'hour', 'minute', 'second']
      const date = {}
      let fullDate = ''

      for (let i = 0; i < dateValue.length; i++) {
        const value = parseInt(dateFilter(currentDate, dateValue[i]))

        date[dateValue[i]] = value < 10 ? '0' + value : value
        fullDate += date[dateValue[i]]
      }

      return fullDate
    },
    async submitRegister () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const dataRegister = {
        id: this.id,
        name: this.name,
        email: this.email,
        password: this.password
      }
      try {
        await this.register(dataRegister)
          .then(() => {
            this.$router.push('/profile')
          })
      } catch (e) {}
    },
    ...mapActions(['register'])
  }
}
</script>

<style scoped>
  form{
    margin-bottom: 20px;
  }
</style>
